:root{
    --col-primary: rgb(0, 255, 98);
}

/* resets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    display: inline-block;
}

button{
    font-family: inherit;
}
/* basic styling */

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
}

/* common styles */
.bg-hover{
    position: relative;
}

.bg-hover::after{
    content: "";
    display: inline-block;
    width: 0%;
    height: 100%;
    position: absolute;
    background: var(--col-primary);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: .3rem;
    transition: all .8s;
}

.bg-hover:hover::after{
    width: 50%;
}

/* header */

.nav{
    padding: 2rem 3rem;
}

.header__logo{
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: -0.5rem;
    display: inline-block;
    /* float: left; */
}

.header__logo--text-2{
    color: var(--col-primary);
}

.navigtaion__nav{
    float: right;
}

.navigation__list{
    list-style: none;
    font-size: 1.6rem;
}

.navigation__item{
    display: inline-block;
    margin-right: 2rem;
    
}

.navigation__link{
    text-decoration: none;
    display: inline-block;
    color: #333;
    padding: 1rem;
    /* position: relative; */
}

.navigation__link-grey{
    color: #444;
}
